body{
   margin:0;
   padding:0;
   font-family: 'Nunito', sans-serif;
   font-weight: 200;
}

.nav{
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: rgba(101, 72, 192, 0.7);
}

.nav h1, .nav h2{
  font-weight: 200;
}

.nav h1{
  margin-bottom: 0px;
  margin-top: 15px;
  font-size: 36px;
}

.nav h2{
  margin-top: -10px;
  font-size: 18px;
}

.left-nav{
  margin-left: 80px;
}

.right-nav{
  margin-right: 0;
  margin-left: 800px;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

/*.right-nav img{
  height: 80px;
  width: 80px;
}*/

.bell img{
  height: 60px;
  width: 60px;
}

.bell{
  margin-right: 30px;
  width: 50px;
}

.mail img{
  height: 60px;
  width: 60px;
}

.mail{
  margin-right: 30px;
}

.profile-icon img{
  height: 50px;
  width: 50px;
}

.profile-icon{
  margin-right: 30px;
}

.logout img{
  height: 40px;
  width: 40px;
  margin-top: -5px;
}

.main{
  display: flex;
}

.side-nav{
  width: 300px;
  background-color: rgb(52, 32, 116);
  height: 800px;
}

.side-nav h1, .side-nav h2, .side-nav h3{
  font-weight: 200;
  color: #FFFFFF;
}

.side-nav h1{
  font-size: 30px;
}

.side-nav h2{
  font-size: 18px;
}

.side-nav h3{
  font-size: 16px;
}

.home, .my-team, .my-toolbox, .settings{
  padding-left: 30px;
}

.home{
  padding-top: 30px;
}

.home h1{
  margin-top: 0;
  margin-bottom: 0px;
}

.highlight{
  background-color: rgba(1, 1, 1, 0.4);
  height: 24px;
  width: 330px;
  position: absolute;
  left: -30px;
}

.my-team h1, .my-toolbox h1, .settings h1{
  margin-bottom: 0px;
  margin-top: 20px;
}

.my-team h2, .my-toolbox h2, .settings h2, .my-toolbox h3{
  margin-top: 0px;
  margin-bottom: 0px;
}

.my-team h2, .my-toolbox h2, .settings h2{
  margin-left: 25px;
}

.my-toolbox h3{
  margin-left: 45px;
}

.announcement-actions{
  margin-left: 225px;
}

.announcement-actions h1{
  font-weight: 200;
  text-decoration: none;
  margin-left: 15px;
  font-size: 18px;
  margin-top:0px;
  margin-bottom: 12px;
}

#first{
  margin-top: 0px;
}

.notifications-head h2{
  margin-left: 285px;
}

.new-notification h1{
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.new-notification h2{
  font-size: 12px;
  margin-top: 0px;
}

.new-message h1{
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.new-message h2{
  font-size: 12px;
  margin-top: 0px;
}

.messages-head h2{
  margin-left: 280px;
}

.new-message{
  display: flex;
}

.message-pic img{
  height: 45px;
  width: 45px;
}

.message-info{
  margin-left: 10px;
}

.quick h1, .quick h2{
  font-size: 16px;
  font-weight: 200;
}

.quick{
  margin-top: 50px;
  margin-left: 55px;
  border: 0.75px solid black;
  padding: 0px 10px 0px 10px;
  height: 100px;

}

.quick h1{
  font-weight: 300;
  margin-bottom: 5px;
}

.quick h2{
  margin-bottom: 2px;
  margin-top: 5px;
}

#second{
  margin-top: 0px;
}

.side-nav a{
  text-decoration: none;
  color: white;
}

a:hover{
  cursor: pointer;
}

a{
  color: black;
  text-decoration: none;
}

.announcements-section{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.new-announcement{
  width: 185px;
  margin-left: auto;
  margin-right: 0;
}

.new-announcement h1{
  border: 1px solid black;
  padding: 5px 7px 5px 10px;
  font-size: 18px;
  font-weight: 200;
}

.this-week-header h1, .earlier-header h1{
  font-size: 24px;
  margin-bottom: 0px;
}

.announcement-body{
  display: flex;
}

.announcement-info{
  width: 270px;
  display: flex;
}

.announcement-dates{
  margin-left: 50px;
}

.announcement-titles{
  margin-left: 30px;
}

.announcement-dates h1, .view-delete h1{
  font-size: 18px;
  font-weight: 200;
}

.announcement-titles h1{
  font-size: 18px;
  font-weight: 300;
}

.announcement-actions{
  display: flex;
  margin-left: 200px;
}

.view h1, .delete h1, .department h1{
  font-size: 18px;
  font-weight: 200;
  margin-top: 16px;
  margin-right: 35px;
}

.view h1, .delete h1{
  cursor: pointer;
}

.new-announcement a{
  color: black;
}

.announcement-body{
  display: flex;
}

.announcement-text input{
  width: 900px;
  height: 300px;
}
