body{
   margin:0;
   padding:0;
   font-family: 'Nunito', sans-serif;
   font-weight: 200;
}

.nav{
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: rgba(101, 72, 192, 0.7);
}

.nav h1, .nav h2{
  font-weight: 200;
}

.nav h1{
  margin-bottom: 0px;
  margin-top: 15px;
  font-size: 36px;
}

.nav h2{
  margin-top: -10px;
  font-size: 18px;
}

.left-nav{
  margin-left: 80px;
}

.right-nav{
  margin-right: 0;
  margin-left: 800px;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.bell img{
  height: 60px;
  width: 60px;
}

.bell{
  margin-right: 30px;
  width: 50px;
}

.mail img{
  height: 60px;
  width: 60px;
}

.mail{
  margin-right: 30px;
}

.profile-icon img{
  height: 50px;
  width: 50px;
}

.profile-icon{
  margin-right: 30px;
}

.logout img{
  height: 40px;
  width: 40px;
  margin-top: -5px;
}

.main{
  display: flex;
}

.side-nav{
  width: 300px;
  background-color: rgb(52, 32, 116);
  height: 800px;
}

.side-nav h1, .side-nav h2, .side-nav h3{
  font-weight: 200;
  color: #FFFFFF;
}

.side-nav h1{
  font-size: 30px;
}

.side-nav h2{
  font-size: 18px;
}

.side-nav h3{
  font-size: 16px;
}

.home, .my-team, .my-toolbox, .settings{
  padding-left: 30px;
}

.home{
  padding-top: 30px;
}

.home h1{
  margin-top: 0;
  margin-bottom: 0px;
}

.highlight{
  background-color: rgba(1, 1, 1, 0.4);
  height: 24px;
  width: 330px;
  position: absolute;
  left: -30px;
}

.my-team h1, .my-toolbox h1, .settings h1{
  margin-bottom: 0px;
  margin-top: 20px;
}

.my-team h2, .my-toolbox h2, .settings h2, .my-toolbox h3{
  margin-top: 0px;
  margin-bottom: 0px;
}

.my-team h2, .my-toolbox h2, .settings h2{
  margin-left: 25px;
}

.my-toolbox h3{
  margin-left: 45px;
}

.dashboard{
  display: flex;
}

.welcome{
  width: 250px;
  text-align: center;
  padding-top: 50px;
}

.welcome img{
  height: 100px;
  width: 100px;
}

.welcome h1, .welcome h2{
  font-weight: lighter;
  margin-top: 0px;
  margin-bottom: 0px;
}

.welcome h1{
  font-weight: lighter;
  font-size: 20px;
}

.welcome h2{
  font-size: 14px;
}

.info{
  width:550px;
  padding-top: 30px;
  font-weight: 200;
}

.info h1{
  font-weight: lighter;
  font-size: 26px;
  text-decoration: underline;
}

.announcements-head, .notifications-head, .messages-head{
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.announcements-head h1, .notifications-head h1, .messages-head h1{
  font-weight: lighter;
  margin-bottom: 0px;
}

.announcements-head h2, .notifications-head h2, .messages-head h2{
  font-weight: lighter;
  font-size: 16px;
}

.announcements-head h2{
  margin-left: 200px;
}

.announcements-list{
  display: flex;
}

.announcement-names h1{
  font-weight: lighter;
  text-decoration: none;
  font-size: 18px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.announcement-names{
  width: 200px;
}

.actions{
  display: flex;
  margin-bottom: 0px;
}

.announcement-actions{
  margin-left: 225px;
}

.announcement-actions h1{
  font-weight: 200;
  text-decoration: none;
  margin-left: 15px;
  font-size: 18px;
  margin-top:0px;
  margin-bottom: 12px;
}

#first{
  margin-top: 0px;
}

.notifications-head h2{
  margin-left: 285px;
}

.new-notification h1{
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.new-notification h2{
  font-size: 12px;
  margin-top: 0px;
}

.new-message h1{
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.new-message h2{
  font-size: 12px;
  margin-top: 0px;
}

.messages-head h2{
  margin-left: 280px;
}

.new-message{
  display: flex;
}

.message-pic img{
  height: 45px;
  width: 45px;
}

.message-info{
  margin-left: 10px;
}

.quick h1, .quick h2{
  font-size: 16px;
  font-weight: 200;
}

.quick{
  margin-top: 50px;
  margin-left: 55px;
  border: 0.75px solid black;
  padding: 0px 10px 0px 10px;
  height: 100px;

}

.quick h1{
  font-weight: 300;
  margin-bottom: 5px;
}

.quick h2{
  margin-bottom: 2px;
  margin-top: 5px;
}

#second{
  margin-top: 0px;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  cursor: pointer;
}

.nav a{
  color: black;
}

.new-announcement-body{
  margin-top: 15px;
  margin-left: 125px;

}

.new-announcement-body h1{
  font-weight: 200;
  font-size: 48px;
}

.announcement-body h1{
  font-size: 26px;
}

.announcement-body input{
  width: 300px;
  height: 30px;
  margin-left: 15px;
  font-size: 24px;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
}

#subject{
  width: 450px;
}

.announcement-text{
  margin-top: 20px;
}

textarea{
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  border: none;
}

.post{
  width: 75px;
  margin-right: 0;
  margin-left: auto;
  margin-top: 400px;
}

.post h1{
  border: 0.75px solid black;
  padding-left: 10px;
}

.new-announcement-body{
  width: 800px;
}

.new-announcement-body a{
  color: black;
}

.announcement-body h2{
  font-size: 20px;
}
