body{
   margin:0;
   padding:0;
   font-family: 'Nunito', sans-serif;
   font-weight: 200;
}

.nav{
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: rgba(101, 72, 192, 0.7);
}

.nav h1, .nav h2{
  font-weight: 200;
}

.nav h1{
  margin-bottom: 0px;
  margin-top: 15px;
  font-size: 36px;
}

.nav h2{
  margin-top: -10px;
  font-size: 18px;
}

.left-nav{
  margin-left: 80px;
}

.right-nav{
  margin-right: 0;
  margin-left: 800px;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.bell img{
  height: 60px;
  width: 60px;
}

.bell{
  margin-right: 30px;
  width: 50px;
}

.mail img{
  height: 60px;
  width: 60px;
}

.mail{
  margin-right: 30px;
}

.profile-icon img{
  height: 50px;
  width: 50px;
}

.profile-icon{
  margin-right: 30px;
}

.logout img{
  height: 40px;
  width: 40px;
  margin-top: -5px;
}

.main{
  display: flex;
}

.side-nav{
  width: 300px;
  background-color: rgb(52, 32, 116);
  height: 900px;
}

.side-nav h1, .side-nav h2, .side-nav h3{
  font-weight: 200;
  color: #FFFFFF;
}

.side-nav h1{
  font-size: 30px;
}

.side-nav h2{
  font-size: 18px;
}

.side-nav h3{
  font-size: 16px;
}

.home, .my-team, .my-toolbox, .settings{
  padding-left: 30px;
}

.home{
  padding-top: 30px;
}

.home h1{
  margin-top: 0;
  margin-bottom: 0px;
}

.highlight{
  background-color: rgba(1, 1, 1, 0.4);
  height: 24px;
  width: 330px;
  position: absolute;
  left: -30px;
}

.my-team h1, .my-toolbox h1, .settings h1{
  margin-bottom: 0px;
  margin-top: 20px;
}

.my-team h2, .my-toolbox h2, .settings h2, .my-toolbox h3{
  margin-top: 0px;
  margin-bottom: 0px;
}

.my-team h2, .my-toolbox h2, .settings h2{
  margin-left: 25px;
}

.my-toolbox h3{
  margin-left: 45px;
}


a{
  text-decoration: none;
  color: white;
}

a:hover{
  cursor: pointer;
}

.nav a, .employees a{
  color: black;
}

.employees{
  margin-left: 100px;
  margin-top: 40px;
}

.title{
  display: flex;
}

.title h1{
  font-size: 48px;
  font-weight: 200;
  margin-bottom: 10px;
}

.title p{
  margin-left: 500px;
  font-size: 20px;
  border: 1px solid black;
  height: 30px;
  padding: 5px 10px 5px 10px;
}

.edit-body{
  margin-left: 40px;
}

.editable{
  margin-top: 0px;
}

.editable-title h1{
  margin-bottom: 0px;
  font-size: 24px;
}

.editable-body{
  display: flex;
  margin-top: 0px;
}

.editable-body h2{
  margin-top: 5px;
  font-size: 20px;
  font-weight: 200;
}

.editable-menu{
  margin-left: 40px;
}

.editable-menu h1{
  font-size: 20px;
  font-weight: 300;
  width: 300px;
}

.data, .public, .edit{
  margin-bottom: 0px;
}

.data{
  width: 500px;
}

.public{
  margin-left: 100px;
  width: 65px;
}

.editable-item{
  display: flex;
}

.editable-item h1{
  margin-bottom: 0px;
  font-size: 18px;
}

.checkbox{
  margin-top: 17px;
  border: 1px solid black;
  background-color: rgba(255,255,255,0.1);
  z-index: 1;
  cursor: pointer;
}

.blackbox{
  height: 15px;
  width: 15px;
  position: absolute;
  margin-top: 17px;
  margin-left: 300px;
  border: 1px solid black;
  background-color: #010101;
  display: none;
}

#black-msg1, #black-inv1, #black-ann1, #black-doc1, #black-msg2{
  display: block;
}

.edit{
  height: 28px;
  margin-left: 70px;
  border: 1px solid black;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.edit:hover{
  cursor: pointer;
}

.checkbox{
  height: 15px;
  width: 15px;
}

.editable-menu{
  display: none;
}
